html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1; /* Agar konten mengisi ruang kosong */
}

main{
    margin-left: 50px;
    margin-right: 50px;
}
footer {
    background: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.container-utama {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.container-utama h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1.1rem;
    color: #333;
}

.label-lb{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    margin:15px;
}

h2 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hero-section {
    margin-top: 0;
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: hidden; /* penting untuk overlay */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* ini menggelapkan gambar */
    z-index: 1;
  }
  
  .hero-caption {
    position: relative;
    z-index: 2; /* supaya di atas overlay */
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 80%;
  }
  
  .table {
    border-collapse: collapse;
    margin-top: 30px;
  }
  
  .table th {
    border: 1px solid #dee2e6;
    text-align: center;       /* Rata tengah hanya untuk header */
    vertical-align: middle;
    padding: 8px 12px;
  }
  
  .table td {
    border: 1px solid #dee2e6;
    text-align: left;         /* Rata kiri untuk isi */
    vertical-align: middle;
    padding: 8px 12px;
  }

  .text-center {
    text-align: center;
  }
  
  
    